<nav class="navbar-static-top">
  <div class="container custom-brand">
    <a href="/">Home</a>
    <a href="">About</a>
    <a href="/items">Items</a>
    <a href="">Sign up</a>
    <a href="">Log in</a>
  </div>
</nav>
