<nav class="navbar-static-top custom-nav">
  <div class="container custom-brand">
    <a href="/">Home</a>
    <a href="">About</a>
    <a href="/items">Items</a>
    <a href="/users/signup">Sign up</a>
    <a href="/users/signin">Log in</a>
    <p><% include ./messages.ejs %></p>
  </div>
</nav>
