<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body class="w3-animate-opacity items">
    <div class="static-top">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron item-jumbotron">
        <div>
          <h1>Items</h1>

          <p>Add items to your cart and start shopping!</p>

          <p>Each new item added will update to your app instantly.</p>
        </div>
      </header>
    </div>

    <div class="jumbotron select w3-animate-right">
      <p>Select Items</p>
    </div>

    <div class="jumbotron item-jumbotron w3-animate-left">
      <p>Your Shopping Cart</p>
    </div>
  </body>
</html>
