<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <header>
      <div>
        <h1>Items</h1>

        <p>Add items to your cart and start shopping!</p>

        <p>Each new item added will update to your app instantly.</p>
      </div>
    </header>
  </body>
</html>
