<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body class="w3-animate-opacity items">
    <div class="static-top">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron item-jumbotron">
        <div>
          <h1>Items</h1>

          <p>Add items to your cart and start shopping!</p>

          <p>Each new item added will update to your app instantly.</p>
        </div>
      </header>
    </div>

    <div class="jumbotron select w3-animate-right">
      <p>Select Items</p>

      <div class="row" id="collaborator">
        <div class="col-xs-6" id="collaborator-user">
          <h4>Fruit</h4>

          <% console.log('hi world') %>
          <form action="" method="post">
            <% items.forEach((item) => { %>
              <ul class="list-group">
                <li class="list-group-item">
                  <button type="submit" name="btn" value="<%= user.id %>">Add</button> <%= item.name %>
                </li>
              </ul>
            <% }) %>
          </form>
        </div>
      </div>
    </div>

    <div class="jumbotron item-jumbotron w3-animate-left">
      <p>Your Shopping Cart</p>
    </div>
  </body>
</html>
