.custom-nav {
  margin-top: 30px;
}

.custom-brand a {
  padding: 20px 20px;
  border-radius: 100%;
  background: radial-gradient(farthest-side at 50% 50%,aqua,white);
}

.home-jumbotron {
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  display: flex;
  justify-content: space-around;
}

.jumbotron div {
  text-align: center;
}

.title {
  padding-bottom: 30px;
}

.download {
  width: 25%;
}

.features {
  width: 25%;
}

.images div {
  display: flex;
  justify-content: space-around;
}

.images img {
  border-radius: 20%;
  width: 30%;
  height: 30%;
  margin: 10px 10px;
}

.item-jumbotron {
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.select {
  /*border: 3px solid red;*/
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin
}

.select-div {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  /*border: 3px solid yellow;*/
  padding: 30px 30px;
}

.cart-div {
  margin: 0 auto;
}

.cart-table td, .cart-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tbody .tr #content-editable:hover {
  cursor: pointer;
  background: darkgrey;
}

.table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}

.thead {
	display: table-header-group;
	color: white;
	font-weight: bold;
	background-color: grey;
}

.tbody {
	display: table-row-group;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	border: 1px solid black;
	padding: 1px;
}

.tbody .tr .td {
  padding: 5px 5px;
}

.tbody .tr input {
  text-align: center;
  height: 40px;
}

.display {
  display: flex;
  margin: 0 auto;
}

.signup-form, .signin-form {
  padding: 40px;
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  box-shadow: 0 0 50px 10px aqua;
}

@media only screen and (max-width: 1406px) {
  .select {
    flex-direction: column;
  }

  .select-div {
    margin-bottom: 50px;
  }
}
