.navbar {
  margin-top: 40px;
}

.custom-nav {
  display: flex;
}

.custom-brand a {
  padding: 20px 20px;
  border-radius: 100%;
  background: radial-gradient(farthest-side at 50% 50%,aqua,white);
}

.home-jumbotron {
/*border: 3px solid yellow;*/
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  /*margin-top: 80px;*/
  display: flex;
  justify-content: space-around;
}

.jumbotron div {
  text-align: center;
}

.title {
  padding-bottom: 30px;
}

.download {
  /*border: 3px solid green;*/
  width: 25%;
}

.features {
  /*border: 3px solid white;*/
  width: 25%;
}

.images div {
  display: flex;
  justify-content: space-around;
}

.images img {
  border-radius: 20%;
  width: 30%;
  height: 30%;
  margin: 10px 10px;
}

.item-jumbotron {
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  display: flex;
  justify-content: space-around;
}

.select {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.display .items {
  display: flex;
  border: 3px solid red;
}
