.navbar {
  margin-top: 40px;
}

.custom-nav {
  display: flex;
}

.custom-brand a {
  padding: 20px 20px;
  border-radius: 100%;
  background: radial-gradient(farthest-side at 50% 50%,aqua,white);
}

.home-jumbotron {
/*border: 3px solid yellow;*/
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  /*margin-top: 80px;*/
  display: flex;
  justify-content: space-around;
}

.jumbotron div {
  text-align: center;
}

.title {
  padding-bottom: 30px;
}

.download {
  /*border: 3px solid green;*/
  width: 25%;
}

.features {
  /*border: 3px solid white;*/
  width: 25%;
}

.images div {
  display: flex;
  justify-content: space-around;
}

.images img {
  border-radius: 20%;
  width: 30%;
  height: 30%;
  margin: 10px 10px;
}

.item-jumbotron {
  background: linear-gradient(to top, transparent, 10%, aqua, 90%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.select {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin
}

.select-div {
  display: flex;
  flex-direction: column;
}

.display .items {
  display: flex;
}

.cart-div {
  margin: 0 auto;
}

.cart-table td, .cart-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tbody .tr #content-editable:hover {
  cursor: pointer;
  background: darkgrey;
}

.table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}

.thead {
	display: table-header-group;
	color: white;
	font-weight: bold;
	background-color: grey;
}

.tbody {
	display: table-row-group;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	border: 1px solid black;
	padding: 1px;
}
