<!DOCTYPE html>
<html lang="en">
  <head>
    include partial for head section here...
  </head>

  <body>
    <header>
      <h1>Real Shopping</h1>
      <h3>Where people shop together in real-time.</h3>
      <h3>Join Us!</h3>
    </header>
  </body>
</html>
